@import "components/_new_button";

.career-hero {
  height: 400px;
  width: 95%;
  // margin: 2rem;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  border-radius: 20px;

  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
  overflow: hidden;
}


.career {
  margin-left: 2rem
};

.skills-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 0;
}

.skill {
  list-style: none;
  width: fit-content;
  background: linear-gradient(135deg, #004AAD, #1e88e5);
  color: #fff8e1;
  padding: 1rem;
  border-radius: 10px;
  transition: transform 0.4s ease;
}

.skill:hover {
  background: linear-gradient(135deg, #1e88e5, #004AAD);
  transform: translateY(-3px);
}

.back-button {
  text-decoration: none;
  width: fit-content;
  background-color: #1e88e5;
  color: #fff8e1;
  padding: 1rem;
  border-radius: 10px;
}

.back-button:hover {
  background-color: #004AAD;
}

h1 {
  font-weight: bold;
}

.chats-list {
  padding: 0;
  margin: 0.5rem;
}

.chats-list li {
  list-style: none;
  width: 100%;
  padding: 0.5rem;
  // margin-bottom: 10px;
  border-radius: 5px;
}

.chats-list li:hover {
  background-color: #fffbee;
}

.chats-list li a {
  text-decoration: none;
  color: #002d72;
}
